body{
	margin:0;
	font-family: Sans-serif;

}
header{
	background: $template-color;
	display: inline-block;
	text-align:center;
	width: 100%;
	div{
		margin: 20px;
		color: #fff;
	}
}
article{
	div{
		margin: 15px;
	}
}