body {
    margin: 0;
    font-family: Sans-serif;
}

header {
    background: $template-color;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    div {
        margin: 20px;
    }
}

article {
    div {
        margin: 15px;
    }
}
